/* ส่วนนี้คือ CSS*/
/* ใช้สำหรับแต่ง (id class)*/
@font-face {
    font-family: 'Kanit';
    src: url('./Kanit/Kanit-Regular.ttf');
}

body {
    font-family: 'Kanit';
}

.button-User {
    display: inline-block;
    padding: 10px 20px;
    background-color: #56021F; 
    color: white;
    text-align: center;
    text-decoration: none; /* ลบการตกแต่งลิงก์ (ขีดเส้นใต้) */
    border-radius: 5px; /* ขอบโค้ง */
    font-size: 16px;
    font-weight: bold;
}

.button-User:hover {
    background-color: #F37199; /* เปลี่ยนสีพื้นหลังเมื่อเอาเมาส์ไปอยู่บนปุ่ม */
}

.container {
    width: 100%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FBF5DD;
    border: 3px solid #854836;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

.header {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #F37199;
    border: 2px solid #56021F;
    color: #56021F;
    border-radius: 5px;
}

.header-form {
    color: #481E14;
    width: 100px;   
}

.flex {
    display: flex;   
}

.form-input {
    color: #481E14;
    margin-bottom: 3px;
}

input.form, textarea {
    border: 1px solid #854836;
    width: 100%;
}

.center {
    text-align: center;
}

.button {
    width: 50%;
    height: 40px;
    background-color: #F37199;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: #8A1E3C; 
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    background-color: lightseagreen;
    display: none;
}

.message.success {
    background-color : lightgreen;
    display: block;
}

.message.danger {
    background-color : lightcoral;
    display: block;
}

@media screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
    }
    .header {
        font-size: 24px;
    }
    .bunton {
        width: 100%;
    }
    
}